.calculadora {
    background: rgb(87, 85, 85);
    color: black;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calculadora input {
background:rgb(129, 235, 129);
color: black;
border-radius: 9px;
padding: 5px;
}
#sptotal {
    background: rgb(99, 201, 113);
    color: black;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    
}
.calculadora button{
    margin-top: 10px;
    background-color: rgb(53, 175, 53);
    color: rgb(29, 25, 25);
    padding: 5px 20px;
    border: none;
}

.calculadora button:hover {
    margin-top: 10px;
    background-color: rgb(33, 154, 175);
    color: rgb(209, 31, 61);
    cursor: pointer;
}

.splistameses{
    text-align: start;
    border-style: dotted;
    border-color: lawngreen;
    border-width: 1px;
    color: red;
    background: white;
    font-size: 10px;
    margin-top: 10px;

}


